@model WebApp.Models.HeroeListModel
@{
    ViewBag.Title = "Listado Heroe";
    int totalPages = 0;
    if (Model.Heroe.Count > 0)
    {
        totalPages = (int)Math.Ceiling((double)Model.Count / Model.PageSizeMaximun);
    }
}

<style type="text/css">
    
    .description{
        width: 111px; 
        display: flex;
        overflow: auto;
        white-space: nowrap;
    }

    .no-botton{
        background: none;
	    color: inherit;
	    border: none;
	    padding: 0;
	    font: inherit;
	    cursor: pointer;
	    outline: inherit;
    }
    
</style>

<div style="min-height: 78.3vh;">
    <div class="mt-3 pb-3" style="border: 1px solid rgba(50, 50, 50, 0.3); border-radius: 6px; width: 100%; height: 100%;">
        <div class="row ">
            <div class="col-md-6 text-center my-auto mx-auto">
                <h1 class="mt-3">@ViewBag.Title</h1>
            </div>
            <div class="col-md-6 text-center my-auto mx-auto">
                <h2 class="mt-3">Pagina @Model.PageIndex</h2>
            </div>
        </div>

        @if (Model.Response.Count() > 0)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">0 - Error</h4>
                        @foreach (var responses in Model.Response)
                        {
                            <p>@responses</p>
                        }
                    </div>
                </div>
            </div>
        }
        else if (Model.MessageVO.Count() > 0)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    @foreach (var messageVO in Model.MessageVO)
                {
                        <div class="alert alert-secondary" role="alert">
                            <h4 class="alert-heading">@messageVO.Id - @messageVO.Title</h4>
                            @foreach (var messages in messageVO.Messages)
                            {
                                <p>@messages</p>
                            }
                        </div>
                    }
                </div>
            </div>
        }
        else if (Model.Heroe.Count() > 0)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Home</th>
                                    <th scope="col">Appearance</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">ImgBase64String</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var heroe in Model.Heroe)
                                {
                                    <tr>
                                        <th scope="row">@heroe.Id</th>
                                        <td scope="row" style="white-space: nowrap;">@heroe.Name</td>
                                        <td scope="row">@heroe.Home</td>
                                        <td scope="row">@heroe.Appearance.ToString("yyyy-MM-dd")</td>
                                        <td scope="row" class="description">
                                            @heroe.Description
                                        </td>
                                        <td scope="row" class="text-center">
                                            <button class="no-botton" data-toggle="tooltip" title="<img src='@heroe.ImgBase64String' width='190px' heigth='190px' />"><i class="fa fa-eye fa-2x"></i></button>
                                        </td>
                                        <td scope="row">
                                            <a href="@Url.Action("Update", "Heroe", new { Id = heroe.Id })" class="btn btn-outline-secondary btn-sm"><i class="fa fa-pencil-square-o"> Editar</i></a>
                                            &nbsp;
                                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modalDelete" onclick="onClickOpenModalDelete(@heroe.Id)"><i class="fa fa-trash"> Eliminar</i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else if (Model.Heroe.Count() == 0)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">0 - No Encontrado</h4>
                        <p>No existen registros encontrados</p>
                    </div>
                </div>
            </div>
        }
        <div class="row justify-content-center mt-3">
            <div class="col-md-7">
                <nav aria-label="..." style="right: 0;">
                    <ul class="pagination">
                        @if (Model.Heroe.Count() > 0)
                        {
                            if (Model.PageIndex == 1)
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">Anterior</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("List", "Heroe", new { pageIndex = Model.PageIndex - 1 })">Anterior</a>
                                </li>
                            }

                            for (int i = 1; i < totalPages + 1; i++)
                            {
                                if (Model.PageIndex == i)
                                {
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">@i</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("List", "Heroe", new { pageIndex = i })">@i</a>
                                    </li>
                                }
                            }

                            if (Model.PageIndex == totalPages)
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">Siguiente</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("List", "Heroe", new { pageIndex = Model.PageIndex + 1 })">Siguiente</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link">Sin Resultados</span>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <div class="col-sm-12" style="float: right;">
                    <a type="button" class="btn btn-outline-primary btn-block" href="@Url.Action("Insert","Heroe")"><i class="fa fa-plus-circle"> Insertar Nuevo Registro</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="border: 1px solid rgba(50, 50, 50, 0.3); margin-top: 30px; margin-left: auto; margin-right: auto; border-radius: 6px;">
        <div class="col-md-12">
            <span>&nbsp;</span>
            <h4 style="text-align: center;">Descargar todos los registros existentes</h4>
            <span>&nbsp;</span>
        </div>
        <div class="row justify-content-center">
            @using (Html.BeginForm("DownloadExcel", "Heroe", FormMethod.Post, new { @class = "col-md-5" }))
            {
                <button type="submit" class="btn btn-outline-success btn-block"><i class="fa fa-file-excel-o"> Descargar Excel</i></button>
            }
            <span>&nbsp;</span>
            @using (Html.BeginForm("DownloadPDF", "Heroe", FormMethod.Post, new { @class = "col-md-5" }))
            {
                <button type="submit" class="btn btn-outline-danger btn-block"><i class="fa fa-file-pdf-o"> Descargar PDF</i></button>
            }
        </div>
        <div class="col-md-12">
            <span>&nbsp;</span>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmación de eliminacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onClickCloseModalDelete()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro que deseas eliminar el registro Id <label id="labelId"></label>?</p>
            </div>
            @using (Html.BeginForm("Delete", "Heroe", FormMethod.Post, new { @class = "modal-footer" }))
            {
                <input type="hidden" id="id" name="id" value="" />
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="onClickCloseModalDelete()"><i class="fa fa-times"> Cerrar</i></button>
                <button type="submit" class="btn btn-outline-success"><i class="fa fa-trash"> Eliminar</i></button>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            html: true
        })
    })

    function onClickOpenModalDelete(id) {
        $('#id').val(id);
        $('#labelId').html(id);
    }

    function onClickCloseModalDelete() {
        $('#id').val('');
        $('#labelId').html('');
    }

</script>