@model WebApp.Models.ExampleUpdateModel
@{
    if (Model.Example != null)
    {
        ViewBag.Title = $"Actualizar";
    }
    else
    {
        ViewBag.Title = $"Sin registro";
    }
}

<div style="min-height: 78.3vh;">
    <div class="mt-3 pb-3 col-md-6 container" style="border: 1px solid rgba(50, 50, 50, 0.3); border-radius: 6px;">
        <div class="row ">
            <div class="col-md-12 text-center my-auto mx-auto">
                <h1 class="mt-3">@ViewBag.Title</h1>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Response))
        {
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">0 - Error</h4>
                        <p>@Model.Response</p>
                    </div>
                </div>
            </div>
        }
        else if (Model.MessageVO != null)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="alert alert-secondary" role="alert">
                        <h4 class="alert-heading">@Model.MessageVO.Id - @Model.MessageVO.Title</h4>
                        @foreach (var messages in Model.MessageVO.Messages)
                        {
                            <p>@messages</p>
                        }
                    </div>

                </div>
            </div>
        }
        else if (Model.Example != null)
        {
            <div class="row justify-content-center mt-3">
                @Html.Partial("_FormExample", Model.Example)
            </div>
        }
        else if (Model.Example == null)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">0 - No Encontrado</h4>
                        <p>No existen registros encontrados</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
