<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    @Styles.Render("~/Contents/CSS/style.css")
    @Styles.Render("~/Contents/CSS/bootstrap.css")
    @Styles.Render("~/Contents/FontAwesome/css/font-awesome.css")
    @Styles.Render("~/Contents/CSS/jquery.datetimepicker-2.5.20.css")    
        
    @Scripts.Render("~/Contents/JS/jquery-3.6.0.js")
    @Scripts.Render("~/Contents/JS/popper-1.16.1.min.js")
    @Scripts.Render("~/Contents/JS/bootstrap.js")
    @Scripts.Render("~/Contents/JS/jquery.datetimepicker.full-2.5.20.js")
    @Scripts.Render("~/Contents/JS/sweetalert-1.min.js")    
    @RenderSection("scripts", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">WebMVCCSharp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("Index") || HttpContext.Current.Request.Url.AbsolutePath == "/")
                        {
                            <a class="nav-link active" href="@Url.Action("Index", "Home")">Inicio</a>
                        }
                        else
                        {
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Inicio</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("About"))
                        {
                            <a class="nav-link active" href="@Url.Action("About", "Home")">Acerca De</a>
                        }
                        else
                        {
                            <a class="nav-link" href="@Url.Action("About", "Home")">Acerca De</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("Contact"))
                        {
                            <a class="nav-link active" href="@Url.Action("Contact", "Home")">Contacto</a>
                        }
                        else
                        {
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacto</a>
                        }
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownExample" data-toggle="dropdown" aria-expanded="false">Example</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownExample">
                            <a class="dropdown-item" href="@Url.Action("Insert", "Example")">Insertar</a>
                            <a class="dropdown-item" href="@Url.Action("List", "Example")">Listar</a>
                        </div>
                    </li>                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownHeroe" data-toggle="dropdown" aria-expanded="false">Heroe</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownHeroe">
                            <a class="dropdown-item" href="@Url.Action("Insert", "Heroe")">Insertar</a>
                            <a class="dropdown-item" href="@Url.Action("List", "Heroe")">Listar</a>
                        </div>
                    </li>    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownCheck" data-toggle="dropdown" aria-expanded="false">Check</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownCheck">
                            <a class="dropdown-item" href="@Url.Action("Check", "Check")">Check</a>
                            <a class="dropdown-item" href="@Url.Action("OpenAPICSharpCheck", "Check")">OpenAPICSharp Check</a>
                            <a class="dropdown-item" href="@Url.Action("OpenAPICSharpCheckAuth", "Check")">OpenAPICSharp CheckAuth</a>
                        </div>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content" style="width: 100%; height: 100%; margin-bottom: 40px">
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    © Copyright <strong><span>IgnacioChávez <label>@DateTime.Now.ToString("yyyy")</label> </span></strong>. Todos Los Derechos Reservados
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>
